@model List<User>

@{
    ViewData[Constant.ViewDataKey.Title] = "User";
    var currentUserId = (string) ViewData[Constant.ViewDataKey.UserId];
}

@section ScriptFooter
{
    <partial name="../Shared/_DataTable.cshtml" model="Model" />
    <script type="text/javascript">
        const app = new Vue({
            el: "#app",
            data: {
                size: 8,
                theads: [
                    "#",
                    "Id",
                    "Name",
                    "Email",
                    "Role",
                    "Phone",
                    "Gender",
                    ""
                ],
                tbodies: data.map(function(t, i) {
                    return [
                        (i + 1),
                        t.id + "<a> @Url.Action("Edit")/" + t.id,
                        t.name,
                        t.email,
                        t.role,
                        t.phone,
                        t.gender === "@Constant.UserGender.MaleValue" ? "@Constant.UserGender.MaleKey" : "@Constant.UserGender.FemaleKey",
                        "@currentUserId" === t.id ? "" : "<x> @Url.Action("Delete")/" + t.id
                    ];
                })
            }
        });
    </script>
}

<div id="app" class="mb-5" v-cloak>
    <data-table
        :size="size"
        :theads="theads"
        :tbodies="tbodies"
        :search-by-index="2"
        search-placeholder="Search by Name"
        title="User">
        <a class="btn btn-outline-primary" asp-controller="User" asp-action="Add" slot="action">
            Add User
        </a>
    </data-table>
</div>
