<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Uarung.Web</title>
    <partial name="_ScriptHeader.cshtml"/>
    @RenderSection("ScriptHeader", false)
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" asp-controller="Auth" asp-action="Logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                @{
                    var menus = new List<dynamic>()
                    {
                        new
                        {
                            Name = "Dashboard",
                            FeatherIcon = "home",
                            RoutePath = Url.Action("Index", "Home")
                        },
                        new
                        {
                            Name = "Sales Register",
                            FeatherIcon = "shopping-cart",
                            RoutePath = Url.Action("SalesRegister", "Transaction")
                        },
                        new
                        {
                            Name = "Product",
                            FeatherIcon = "file",
                            RoutePath = Url.Action("Index", "Product")
                        },
                    };
                }
                <ul class="nav flex-column">
                    @foreach (var menu in menus)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@menu.RoutePath">
                                <span data-feather="@menu.FeatherIcon"></span>
                                @menu.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            @RenderBody()
        </main>
    </div>
</div>

<partial name="_ScriptFooter.cshtml"/>
@RenderSection("ScriptFooter", false)
</body>
</html>