@model List<Transaction>;

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 20px">Id</th>
        <th scope="col">Notes</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Payment Type</th>
        <th scope="col">Created Date</th>
        <th scope="col">Total Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        var i = 1;
        foreach (var transaction in Model)
        {
            <tr>
                <td>@i</td>
                <td>
                    <a href="@Url.Action("Detail", new {id = transaction.Id})">
                        @transaction.Id
                    </a>
                </td>
                <td>@((string.IsNullOrEmpty(transaction.Notes) ? "-" : transaction.Notes))</td>
                <td>@transaction.PaymentStatus</td>
                <td>@transaction.PaymentType</td>
                <td>@transaction.CreatedDate.ToString("ddd, dd MMM yyyy '-' HH:mm")</td>
                <td>@transaction.TotalPrice.ToString("N0")</td>
                <td>
                    <form action="@Url.Action("Delete", new { id = transaction.Id })">
                        <button type="submit" class="btn btn-danger btn-sm p-0 lh-0 rounded-circle">
                            <span data-feather="x"></span>
                        </button>
                    </form>
                </td>
            </tr>

            i++;
        }
    }
    </tbody>
</table>